@font-face {
  font-family: century-regular;
  src: url(assets/fonts/century-schoolbook/cen-schlbk-r.TTF);
}
@font-face {
  font-family: century-italic;
  src: url(assets/fonts/century-schoolbook/cen-schlbk-i.TTF);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fffcf1;
  font-family: century-regular;
}

/* canvas {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
} */

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
i {
  font-family: century-italic;
  font-style: normal;
}

input {
  margin: 10px;
}

.insect-box {
  /* border: 1px solid black; */
  width: 180px;
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}

#archive-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 40px;
}

.name {
  font-family: century-italic;
  font-size: 22px;
  /* background-color: #fffcf1; */
  z-index: 1;
  background-image: linear-gradient(#fffcf100, #fffcf1, #fffcf1);
}
.date {
  font-family: century-regular;
  margin-top: 12px;
}
.partsBox {
  position: relative;
  display: flex;
  height: 250px;
  margin-bottom: -22%;
}
.part-img {
  width: 100%;
  position: absolute;
  margin-top: -30%;
}

#navbar-container {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 20px 12px 20px;
  font-size: 22px;
  letter-spacing: 0.05em;
  align-items: flex-start;
  background-color: #fffcf1;
}
#navbar-gradient {
  background-image: linear-gradient(#fffcf1, #fffcf100);
  width: 100%;
  height: 40px;
}
.navbar-right {
  display: flex;
  flex-direction: row;
}
.navbar-btn {
  margin: 0 12px 0 12px;
  border-bottom: 1px solid #c2b0a5;
  padding-bottom: 2px;
}

.active-btn {
  font-family: century-italic;
  border: none;
}

select {
  font-family: century-regular;
  font-size: 22px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #c2b0a5;
  padding-bottom: 2px;
  color: black;
  background-color: #fffcf1;
}
select:focus {
  outline-width: 0;
}

#about-container {
  font-size: 22px;
  letter-spacing: 0.03em;
  width: 100%;
  padding: 110px 0 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-content {
  width: 640px;
}
#underline {
  text-decoration: underline;
  text-decoration-color: #c2b0a5;
}
.authors {
  margin-top: 60px;
  line-height: 1.5em;
  flex-basis: 50%;
}
.authors-title {
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}
#about-infos {
  display: flex;
  flex-direction: row;
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  height: 100vh;
  justify-content: center;
}
#home-gif {
  width: 600px;
  margin: -60px 0 -60px 0;
}
/* #home-gif-2 {
  width: 600px;
  margin: -60px 0 -60px 0;
} */

#home-title {
  font-size: 40px;
  letter-spacing: 0.05em;
  padding-top: 40px;
}
#home-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  letter-spacing: 0.05em;
}
.home-btn {
  padding: 20px 0 0 0;
}
#credits {
  line-height: normal;
}
.link {
  border-bottom: 1px solid #c2b0a5;
  padding-bottom: 1px;
}

/* -----------------INTRO----------------- */

#intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: space-around;
  font-size: 22px;
}
input {
  font-family: century-regular;
  font-size: 22px;
  border: none;
  border-bottom: 1px solid #c2b0a5;
  transition: 0.2s;
  background-color: #fffcf1;
  text-align: center;
}
input:focus {
  outline-width: 0;
  border-bottom: 1px solid #ac7857;
}
#input-name {
  margin-top: 50px;
}
.intro-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: 1s;
  align-items: center;
}
.intro-btn {
  margin-top: 50px;
  border-bottom: 1px solid #c2b0a5;
  padding-bottom: 1px;
  width: fit-content;
  cursor: pointer;
}
.hidden {
  display: none;
  position: absolute;
}
#askName {
  z-index: 2;
}

/* -----------------QUESTIONS----------------- */

#question-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.question-sx {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 0 5% 0 5%;
  transition: 1s;
}
.question-dx {
  display: flex;
  width: 40%;
  padding: 0 5% 0 5%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.drawing {
  width: 20%;
  position: absolute;
}

.line {
  display: flex;
  width: 1px;
  height: 90vh;
  background-color: #c2b0a5;
  z-index: 10;
}
.answer-btn {
  font-family: century-regular;
  width: 315px;
  font-size: 18px;
  border-radius: 0;
  border: 1px solid #c2b0a5;
  background-color: #fffcf1;
  margin: 6px;
  padding: 14px 16px 14px 16px;
  cursor: pointer;
  transition: 0.3s;
}
.answer-btn:hover {
  background-color: #c2b0a5;
}
.answer-btn:focus {
  background-color: #c2b0a5;
}
.question-input {
  display: flex;
  flex-direction: column;
}
.question-text {
  font-size: 21px;
  margin-bottom: 60px;
  text-align: center;
  letter-spacing: 0.01em;
}
.next-btn {
  font-size: 22px;
  border-bottom: 1px solid #c2b0a5;
  padding-bottom: 1px;
  width: fit-content;
  cursor: pointer;
  margin-top: 60px;
  transition: 1s;
}
.slider-container {
  width: 70%;
  margin-top: 10%;
}
.slider {
  width: 100%;
  -webkit-appearance: none; /* Override default CSS styles */
  height: 1px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  /* border-radius: 10px; */
  /* border: 1px solid #ac7857; */
  /* background: #fffcf1;  */
  background: url("assets/drag2.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider-text {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.slider-label {
  width: 100px;
  flex-basis: 33%;
  text-align: center;
  margin-top: 10px;
}
.help {
  font-size: 18px;
  font-family: century-italic;
  color: #ac7857;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: -30px;
}

#chest-img {
  z-index: 5;
}
#leg-img {
  z-index: 1;
}
#butt-img {
  z-index: 4;
}
#head-img {
  z-index: 3;
}
#ant-img {
  z-index: 2;
}
#result-text {
  top: 15%;
}
#result-btns {
  bottom: 14%;
  z-index: 9;
  background-image: linear-gradient(#fffcf100, #fffcf1, #fffcf1, #fffcf1);
}
.final-btn {
  margin: 0 20px 0 20px;
}
#webcam-btn {
  font-family: century-regular;
  background-color: #fffcf1;
  border: none;
  border-bottom: 1px solid #c2b0a5;
  margin-top: 40px;
}
#mouse-btn {
  font-family: century-regular;
  background-color: #fffcf1;
  border: none;
  border-bottom: 1px solid #c2b0a5;
  margin-top: 24px;
}
#stop-audio {
  margin-top: 24px;
}
#send-data {
  margin-top: 30px;
  border: 1px solid #c2b0a5;
  padding: 15px;
}
#send-data:hover {
  background-color: #c2b0a5;
  transition: 0.5s;
}
#showQ4 {
  margin-top: 30px;
}
#showQ5 {
  margin-top: 30px;
}
#test-body {
  height: 100vh;
  overflow-y: hidden;
}

.hide {
  opacity: 0;
  transition: 1s;
  cursor: default;
}
